<plugin name='persistent-settings' version='0.9' grailsVersion='1.3.7 &gt; *'>
  <author>Roman Belyakov</author>
  <authorEmail>propoff@gmail.com</authorEmail>
  <title>Grails persistent settings plugin</title>
  <description>\
Plugin manages persistent settings for the Grails applications 
</description>
  <documentation>http://grails.org/plugin/persistent-settings</documentation>
  <type>PersistentSettingsGrailsPlugin</type>
  <resources>
    <resource>TestConfig</resource>
    <resource>org.grails.persistentsettings.PersistentSetting</resource>
  </resources>
  <repositories>
    <repository name='http://grails.org/plugins' url='http://grails.org/plugins' />
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>