<plugin name='persistent-settings' version='0.3' grailsVersion='1.3.7 &gt; *'>
  <author>Your name</author>
  <title>Plugin summary/headline</title>
  <description>\
Brief description of the plugin.
</description>
  <documentation>http://grails.org/plugin/persistent-settings</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>TestConfig</resource>
    <resource>UrlMappings</resource>
    <resource>org.grails.persistentsettings.PersistentSettingController</resource>
    <resource>org.grails.persistentsettings.PersistentSetting</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>